@model IEnumerable<SchoolModel.Core.Classroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="AllStudents" asp-route-className="@item.ClassName">All students</a>
            </td>
            <td>
                @{ 
                    foreach(var students in item.Students)
                    {
                        <p>@students.MatricNumber </p>
                    }
                }
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="CreateAttendance" asp-route-classId="@item.Id">Mark Attendance</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
